#logo{background-color:cyan;}
#header {background-color:blue;}
#totem {background-color:red; }
#body {background-color:yellow; }
#info {background-color:orange;height:scroll }
#footer {background-color:green;}
